<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css"> <!-- Link to an external CSS stylesheet -->
</head>
<body>
    <h1>Hello Welcome to this website</h1> <!-- Display a welcoming message as a heading -->
    <a href="logout"><button type="submit">Logout</button></a> <!-- Create a link/button for logging out -->
</body>
</html>
